.fixed_content
  .form-group
    %label.col-sm-2.control-label{:for => "inputApr"} APR
    .col-sm-9
      %input#inputApr.form-control{:placeholder => "Annual Percentage Rate", :type => "number", step: '.01', required: true, min: '1.00', name: 'apr'}