%h3.underline.text-center.white Amortization
%hr
.col-xs-3.col-xs-offset-2
  .lead.white Loan Calculator
  %br
  = fa_icon 'calculator', class: 'white giant-calc'
.col-xs-5
  .amortization.text-center.white
    %form.form-horizontal.amortization_form{action: '/calculate_amortization', method: 'POST'}
      = hidden_field_tag :authenticity_token, form_authenticity_token
      .form-group
        %label.col-sm-2.control-label{:for => "inputBorrowed"} Loan Amount?
        .col-sm-9
          %input#inputBorrowed.form-control{:placeholder => "Loan Amount", :type => "number", step: '.5', min: '5000', required: true, name: 'amount'}
      .form-group
        %label.col-sm-2.control-label{:for => "inputLoanDuration"} Loan Duration
        .col-sm-9
          %input#inputLoanDuration.form-control{:placeholder => "Loan Duration In Years", :type => "number", step: 1, required: true, min: '1', name: 'duration'}
      .amortization_content
        = render(partial: 'fixed_content')
      .form-group
        %label.col-sm-2.colontrol-label{:for => 'taxes'} Taxes
        .col-sm-9
          %input#taxes.form-control{:placeholder => "Yearly Taxes", :type => "number", step: 1, min: '0', name: 'taxes'}
      .form-group
        %label.col-sm-2.colontrol-label{:for => 'Insurance'} Insurance
        .col-sm-9
          %input#insurance.form-control{:placeholder => "Yearly Insurance", :type => "number", step: 1, min: '0', name: 'insurance'}

      .form-group
        .col-sm-11
          %button.amortization_calculation_button.btn.btn-default.pull-right.font-l{type: 'submit'} Calculate
          = link_to 'Back', :back, class: 'btn btn-default pull-right back-button'
.col-xs-12
  %hr
.amortization_calculation_content

