.home-container
.bubble.pull-right
  .ribbon
    #action_item_1.rectangle
      .rectangle-link.center
        %a.content.black{href: '#'} Pre-Qualification
    #triangle_1.triangle-l
  .ribbon
    #action_item_2.rectangle
      .rectangle-link.center
        %a.content.black{href: '#'} Write A Review
    #triangle_2.triangle-l
  .ribbon
    #action_item_3.rectangle
      .rectangle-link.center
        %a.content.black{href: '#'} Contact
    #triangle_3.triangle-l
