.add-partner {
  a:hover {
    color: white !important;
  }
}

.partner-btn {
  margin-top: 20px;
}

.new-partner-form {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.partner-btn {
  max-width: 82%;
  margin-left: auto;
}

.partner-types {
  margin-left: 10px;
}

.partner-link {
  a:hover {
    color: white !important;
  }

  a {
    color: white !important;
  }
}

.partner-box {
  background-color: white;
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.partners-sub {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.partners {
  margin-top: 20px;
}

.partner-section {
  margin-bottom: 2px;
  font-size: 15px;
}

.categories {
  margin-left: 10px;
}

.box-controls {
  a {
    color: black !important;
  }

  a:hover {
    text-decoration: none;
    color: black !important;
  }
}
