.giant-calc {
  font-size: 200px;
  -webkit-transform: rotate(-20deg);
  -moz-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  -o-transform: rotate(-20deg);
  transform: rotate(-20deg);
}

.amortization-schedule {
  max-height: 600px;
  overflow-y: scroll;
}
